<section class="card">
	<h2 class="title">Analyze</h2>
	<p class="input_label">Keywords</p>
	<form
		id="analyze-form"
		class="form"
		action="{{ url_for('run_analyze') }}"
		method="post">
		<label
			class="input_label"
			for="keywords"
			>Analyze using keywords</label
		>
		<input
			id="keywords"
			class="form_input"
			type="text"
			name="keywords"
			placeholder="cat, dog, train, cloud"
			required />
		<button
			id="analyze-btn"
			class="submit_button"
			type="submit">
			analyze
		</button>
	</form>
	<p class="input_label">All</p>
	<form
		style="border: 0px"
		id="analyze-all-form"
		class="form"
		action="{{ url_for('run_analyze_all') }}"
		method="get">
		<p
			class="input_label"
			>Analyze based on image content only</p
		>
		<button
			id="analyze-all-btn"
			type="Submit"
			class="submit_all_button"
			type="submit">
			analyze
		</button>
	</form>
</section>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const analyze_form = document.getElementById("analyze-form");
		const analyze_btn = document.getElementById("analyze-btn");
		analyze_form.addEventListener("submit", () => {
			analyze_btn.disabled = true;
			analyze_btn.textContent = "analyzing...";
		});
		const analyze_all_form = document.getElementById("analyze-all-form");
		const analyze_all_btn = document.getElementById("analyze-all-btn");
		analyze_all_form.addEventListener("submit", () => {
			analyze_all_btn.disabled = true;
			analyze_all_btn.textContent = "analyzing...";
		});
	});
</script>
