<section class="card">
	<div class="card_header">
		<h2 class="title">Analyze</h2>
		<form 
		id="clear-analyzed-form"
		class="clear_form"
		action="{{ url_for('clear_analyzed_button') }}"
		method='post'>
		<button 
			type="Submit" 
			class="clear_button"
			id="clear-scrape-btn"
			onclick="alert('This will wipe the folder, continue?')">
			clear folder
		</button>
	</form>
	</div>


	<form
		id="analyze-form"
		class="form"
		action="{{ url_for('run_analyze') }}"
		method="post">
		<label
			class="input_label"
			for="keywords"
			>Keywords to find <br />
			(Enter several by comma seperating the words)</label
		>
		<input
			id="keywords"
			class="form_input"
			type="text"
			name="keywords"
			placeholder="cat, dog, train, cloud"
			required />
		<button
			id="analyze-btn"
			class="submit_button"
			type="submit">
			analyze
		</button>
	</form>
	<div class="card_header">
	<form 
		style="border: 0px"
		id="analyze-all-form"
		class="form_input"
		action="{{ url_for('run_analyze') }}"
		method="post">
		<button 
			id="analyze_btn"
			type="Submit" 
			class="submit_button"
			type="submit">
			Classify all possible
		</button>
	</form>
	</div>
</section>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const analyze_form = document.getElementById("analyze-form");
		const analyze_btn = document.getElementById("analyze-btn");
		analyze_form.addEventListener("submit", () => {
			analyze_btn.disabled = true;
			analyze_btn.textContent = "analyzing...";
		});
	});
</script>
